<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleHelpBookFolder</key>
	<string>XTextHelp</string>
	<key>CFBundleHelpBookName</key>
	<string>net.script-factory.XText.help</string>
	<key>CFBundleIdentifier</key>
	<string>net.script-factory.XText</string>
	<key>CFBundleName</key>
	<string>XText</string>
	<key>CFBundleShortVersionString</key>
	<string>1.3.3b</string>
	<key>CFBundleVersion</key>
	<string>10</string>
	<key>NSHumanReadableCopyright</key>
	<string>Copyright 2007-2020, Kurita Tetsuro</string>
	<key>WindowState</key>
	<dict>
		<key>bundleDividerCollapsed</key>
		<false/>
		<key>bundlePositionOfDivider</key>
		<real>767</real>
		<key>dividerCollapsed</key>
		<false/>
		<key>eventLogLevel</key>
		<integer>2</integer>
		<key>name</key>
		<string>ScriptWindowState</string>
		<key>positionOfDivider</key>
		<real>486</real>
		<key>savedFrame</key>
		<string>179 88 1066 669 0 0 1440 877 </string>
		<key>selectedTab</key>
		<string>result</string>
	</dict>
</dict>
</plist>
